@model DataModels.ViewModels.TicketDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mb-2 border-bottom">
    @Model.Title &nbsp; 
    
    @if (Model.TicketResolution != null){
        <span class="text-success ticketResolved" title="Resolved!"><i class="fas fa-check-circle"></i></span>
    }
</h3>

<div class="mainTicketInfo p-1 mb-4" >
    <p>Created by @Model.ApplicationUser.UserName on @Model.CreatedOn.ToString("dd.MM.yyyy.")</p>
    <p>Project: @Model.Project.ProjectName</p>

    <div class="ticketStatusDiv mb-2">
        @{var classname = ""; }
        @switch (Model.TicketStatus.StatusName)
        {
            case "Open":
                classname = "text-warning-custom";
                break;
            case "Closed":
                classname = "text-success";
                break;
            case "In progress":
                classname = "text-primary";
                break;
            case "To be tested":
                classname = "text-info";
                break;
            case "Reopen":
                classname = "text-danger";
                break;
        }
        <span >Status:</span> <span class="@classname">@Model.TicketStatus.StatusName</span>
    </div>

    @if (ViewBag.userId == Model.ApplicationUser.Id)
    {
    <div class="row pl-4">
        <a style="font-size:0.9rem;" class="mt-2 mr-4 btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a style="font-size:0.9rem;" class="mt-2 btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
    }
</div>
 
<div class="ticketDescription mb-5">
    <h6 class="p-1">Description:</h6>
    <p class="p-1 lead ">
        @Model.Description  
    </p>
</div>

<div class="mb-4">
    <h4>Ticket details</h4>
    <hr />
    <div class="container">
        <div class="row p-2">
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6 detailsProperty">Type:</span> 
                <span class="col-6">@Model.TicketType.TypeName</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6 detailsProperty">Due on:</span>
                <span class="col-6">@Model.DueDate.ToString("dd.MM.yyyy.")</span>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6 detailsProperty">Status:</span>
                <span class="col-6">@Model.TicketStatus.StatusName</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6 detailsProperty">Priority:</span>
                <span class="col-6">@Model.TicketPriority.PriorityName</span>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6 detailsProperty">Assigned to:</span>
                <span class="col-6">@Model.ApplicationUser.UserName</span>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="tabbedOptions mb-4">
    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-comments-tab" data-toggle="tab" href="#nav-comments" role="tab" aria-controls="nav-comments" aria-selected="true">
            Comments
        </a>         
        <a class="nav-item nav-link" id="nav-resolution-tab" data-toggle="tab" href="#nav-resolution" role="tab" aria-controls="nav-resolution" aria-selected="false">            
            @if (Model.TicketResolution != null)
            {
                <span class="text-success">Resolved &nbsp;</span>
                <span class="text-success ticketResolved"><i class="fas fa-check-circle"></i></span>
            }
            else
            {
                <span>Resolution</span>
            }
        </a>
        <a class="nav-item nav-link" id="nav-activity-tab" data-toggle="tab" href="#nav-activity" role="tab" aria-controls="nav-activity" aria-selected="false">
            Activity log
        </a>
    </div>

    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
            Comments will go here...
        </div>
        <div class="tab-pane fade" id="nav-resolution" role="tabpanel" aria-labelledby="nav-resolution-tab">

            @if(Model.TicketResolution != null)
            {
                <ul>
                    <li>@Model.TicketResolution.ResolutionComment</li>
                    <li>Resolved by @Model.TicketResolution.CreatedBy</li>
                    <li>On @Model.TicketResolution.DateCreated</li>
                </ul>
            }
            else
            {
             <div class="container">
                <h5>Resolve this ticket:</h5>
                <div class="form-group">
                    <label for="selectTicketStatus">Select status:</label>
                    <select class="form-control" id="selectTicketStatus">
                        <option value="1">Open</option>
                        <option value="2">Closed</option>
                        <option value="3">In progress</option>
                        <option value="4">To be tested</option>
                        <option value="5">Reopen</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="resolutionComment">Insert comment:</label>
                    <textarea class="form-control" id="resolutionComment"></textarea>
                </div>

                <button id="submitResolution" class="btn btn-success">Submit</button>
        </div>
                
            }

        </div>
        <div class="tab-pane fade" id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab">
            Activity log will go here...
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section scripts{

    <script>
        $(document).ready(function () {
            console.log("ready", $("#submitResolution"))
            $("#submitResolution").click(() => {
                let ticketId = @Html.Raw(Model.Id);
                let ticketStatus = $("#selectTicketStatus").val();
                let comment = $("#resolutionComment").val();

                let postData = {
                    ticketStatusId: ticketStatus,
                    resolutionComment: comment
                }

                $.ajax({
                    url: "/api/ticketresolution/" + ticketId,
                    data: JSON.stringify(postData),
                    method: "POST",
                    contentType: 'application/json',
                })
                    .done(() => {
                        window.location.reload();
                    })
                    .fail((er) => {
                        console.log(er)
                        toastr.error(er.responseText);
                    });
            });
        })
    </script>
 }