@model DataModels.ViewModels.TicketDetailsViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="mb-2 border-bottom">@Model.Title</h3>

<div class="mainTicketInfo p-1 mb-4" >
    <p>Created by @Model.ApplicationUser.UserName on @Model.CreatedOn.ToString("dd.MM.yyyy.")</p>
    <p>Project: @Model.Project.ProjectName</p>

    <div class="ticketStatusDiv mb-1">
        Status: @Model.TicketStatus.StatusName
    </div>

    @if (ViewBag.userId == Model.ApplicationUser.Id)
    {
        <a class="mt-2 btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
</div>
 
<div class="ticketDescription mb-5">
    <h6 class="p-1">Description:</h6>
    <p class="p-1 lead ">
        @Model.Description  
    </p>
</div>

<div class="mb-4">
    <h4>Ticket details</h4>
    <hr />
    <div class="container">
        <div class="row p-2">
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6">Type:</span> 
                <span class="col-6">@Model.TicketType.TypeName</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6">Due on:</span>
                <span class="col-6">@Model.DueDate.ToString("dd.MM.yyyy.")</span>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6">Status:</span>
                <span class="col-6">@Model.TicketStatus.StatusName</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6">Priority:</span>
                <span class="col-6">@Model.TicketPriority.PriorityName</span>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-4 row border-bottom p-1">
                <span class="col-6">Assigned to:</span>
                <span class="col-6">@Model.ApplicationUser.UserName</span>
            </div>
        </div>
    </div>


</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
