@model IEnumerable<DataModels.ViewModels.ProjectDetailsViewModel>
@using DataModels.EnumConstants

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <h3>All my projects</h3>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Status
                </th>
                <th>
                    Progress
                </th>
                <th>
                    Developers assigned
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </a>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectStatus.StatusName)
                    </td>
                    <td>
                        <span title="Closed tickets" class="text-success">
                            @item.ProjectTickets.Where(t => t.TicketStatus.Id == (int)EnumConstants.TicketStatuses.Closed).Count()
                        </span>
                        /
                        <span title="Active tickets" class="text-danger">
                            @item.ProjectTickets.Count()
                        </span>
                    </td>
                    <td>
                        @foreach (var user in item.AssignedDevelopers)
                        {
                            <li style="list-style-type:none;">
                                @user.ApplicationUser.UserName
                            </li>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
